# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_size = 8
indent_style = tab

[lmic/*]
indent_size = 4
indent_style = space

[lmic/hal.c]
indent_size = 8
indent_style = tab
